workflow/template-to-pdf-and-save.json
{
  "nodes": [
    {
      "parameters": {
        "path": "template-to-pdf",
        "httpMethod": "POST",
        "options": {},
        "responseMode": "lastNode",
        "authentication": "none"
      },
      "id": "6b5add82-93de-46f8-b765-1cc827384fdf",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        30752,
        10000
      ],
      "webhookId": "template-to-pdf-webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"htmlContent\": \"<!DOCTYPE html>\\n<html>\\n<head>\\n  <meta charset=\\\"UTF-8\\\">\\n  <title>Test PDF</title>\\n  <style>\\n    * { margin: 0; padding: 0; box-sizing: border-box; }\\n    body { font-family: 'Segoe UI', Arial, sans-serif; padding: 40px; background: #f5f5f5; }\\n    .card { background: white; border-radius: 12px; padding: 30px; max-width: 600px; margin: 0 auto; box-shadow: 0 4px 20px rgba(0,0,0,0.1); }\\n    h1 { color: #2c3e50; margin-bottom: 20px; border-bottom: 3px solid #3498db; padding-bottom: 10px; }\\n    .info { margin: 15px 0; padding: 15px; background: #ecf0f1; border-radius: 8px; }\\n    .label { font-weight: bold; color: #7f8c8d; font-size: 12px; text-transform: uppercase; }\\n    .value { color: #2c3e50; font-size: 18px; margin-top: 5px; }\\n    .highlight { background: linear-gradient(135deg, #3498db, #2980b9); color: white; }\\n    .highlight .label { color: rgba(255,255,255,0.8); }\\n    .highlight .value { color: white; }\\n    .footer { margin-top: 30px; text-align: center; color: #95a5a6; font-size: 12px; }\\n  </style>\\n</head>\\n<body>\\n  <div class=\\\"card\\\">\\n    <h1>📄 Test Document</h1>\\n    <div class=\\\"info highlight\\\">\\n      <div class=\\\"label\\\">Status</div>\\n      <div class=\\\"value\\\">✅ PDF Generation Working</div>\\n    </div>\\n    <div class=\\\"info\\\">\\n      <div class=\\\"label\\\">Generated At</div>\\n      <div class=\\\"value\\\">{{ $now.format('yyyy-MM-dd HH:mm:ss') }}</div>\\n    </div>\\n    <div class=\\\"info\\\">\\n      <div class=\\\"label\\\">Description</div>\\n      <div class=\\\"value\\\">This is a test PDF generated from HTML template using n8n and Gotenberg.</div>\\n    </div>\\n    <div class=\\\"footer\\\">Generated by n8n Workflow</div>\\n  </div>\\n</body>\\n</html>\",\n  \"fileName\": \"{{ $now.format('yyyy-MM-dd_HH-mm-ss') }}\"\n}",
        "options": {}
      },
      "id": "c06ac998-d2a3-4a70-a41a-91878cab0779",
      "name": "Test HTML Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        30976,
        10000
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nlet htmlContent = '';\nlet fileName = 'output';\n\n// Check for binary data (HTML file)\nif (input.binary) {\n  const binaryKey = Object.keys(input.binary)[0];\n  if (binaryKey) {\n    const binaryData = input.binary[binaryKey];\n    htmlContent = Buffer.from(binaryData.data, 'base64').toString('utf-8');\n    fileName = binaryData.fileName?.replace(/\\.html$/i, '') || 'output';\n  }\n}\n// Check for htmlContent in JSON\nelse if (input.json.htmlContent) {\n  htmlContent = input.json.htmlContent;\n  fileName = input.json.fileName || 'output';\n}\n// Check for template in JSON\nelse if (input.json.template) {\n  htmlContent = input.json.template;\n  fileName = input.json.fileName || 'output';\n}\nelse {\n  throw new Error('No HTML content provided. Please provide htmlContent, template, or binary HTML file.');\n}\n\nreturn [{\n  json: {\n    htmlContent: htmlContent,\n    fileName: fileName\n  }\n}];"
      },
      "id": "373d5b97-fb0c-41ae-93ae-eebfce7999c0",
      "name": "Process Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        31200,
        10000
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst htmlContent = data.htmlContent;\n\n// Add print-friendly CSS wrapper\nconst printStyles = `\n<style>\n  @page {\n    size: Letter portrait;\n    margin: 1cm;\n  }\n  @media print {\n    body {\n      -webkit-print-color-adjust: exact;\n      print-color-adjust: exact;\n    }\n  }\n</style>\n`;\n\n// Inject print styles into HTML\nlet finalHtml = htmlContent;\nif (htmlContent.includes('</head>')) {\n  finalHtml = htmlContent.replace('</head>', printStyles + '</head>');\n} else if (htmlContent.includes('<body')) {\n  finalHtml = printStyles + htmlContent;\n} else {\n  finalHtml = `<!DOCTYPE html><html><head>${printStyles}</head><body>${htmlContent}</body></html>`;\n}\n\nreturn [{\n  json: {\n    htmlContent: finalHtml,\n    fileName: data.fileName\n  },\n  binary: {\n    htmlFile: {\n      data: Buffer.from(finalHtml).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "id": "63bf5985-28cf-4277-b0d8-3ef8c18c5764",
      "name": "Prepare HTML for PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        31424,
        10000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "htmlFile"
            },
            {
              "name": "paperWidth",
              "value": "8.5"
            },
            {
              "name": "paperHeight",
              "value": "11"
            },
            {
              "name": "landscape",
              "value": "false"
            },
            {
              "name": "marginTop",
              "value": "0.5"
            },
            {
              "name": "marginBottom",
              "value": "0.5"
            },
            {
              "name": "marginLeft",
              "value": "0.5"
            },
            {
              "name": "marginRight",
              "value": "0.5"
            },
            {
              "name": "printBackground",
              "value": "true"
            },
            {
              "name": "scale",
              "value": "1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "782aa7bc-0903-408f-a097-f2f906eecfb6",
      "name": "Gotenberg PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        31648,
        10000
      ],
      "notesInFlow": true,
      "notes": "Using Gotenberg (Docker: gotenberg/gotenberg:8)"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst previousData = $('Prepare HTML for PDF').first().json;\n\nif (!input.binary) {\n  throw new Error('No binary data received from conversion service');\n}\n\n// Gotenberg returns PDF in 'data' key\nconst pdfBinary = input.binary.data;\nif (!pdfBinary) {\n  throw new Error('No PDF data found. Available keys: ' + Object.keys(input.binary).join(', '));\n}\n\nconst fileName = previousData.fileName || 'output';\nconst fullFileName = `${fileName}.pdf`;\n\nreturn [{\n  json: {\n    success: true,\n    fileName: fullFileName,\n    filePath: `/home/node/.n8n-files/data/${fullFileName}`\n  },\n  binary: {\n    pdf: {\n      ...pdfBinary,\n      fileName: fullFileName,\n      mimeType: 'application/pdf'\n    }\n  }\n}];"
      },
      "id": "b4e8e26d-e1ad-4812-9f5e-9f136a5b7d48",
      "name": "Prepare PDF for Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        31872,
        10000
      ]
    },
    {
      "parameters": {
        "fileName": "={{ '/home/node/.n8n-files/data/' + $json.fileName }}",
        "dataPropertyName": "pdf",
        "options": {}
      },
      "id": "b4bea698-0811-4a6b-a7b1-e0e61fa6d071",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        32096,
        10000
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst previousJson = $('Prepare PDF for Save').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'PDF saved successfully',\n    fileName: previousJson.fileName,\n    filePath: previousJson.filePath\n  }\n}];"
      },
      "id": "ed883778-53d3-444c-ae2d-35d2ce4190b6",
      "name": "Output Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32320,
        10000
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Test HTML Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test HTML Data": {
      "main": [
        [
          {
            "node": "Process Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Input": {
      "main": [
        [
          {
            "node": "Prepare HTML for PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare HTML for PDF": {
      "main": [
        [
          {
            "node": "Gotenberg PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg PDF": {
      "main": [
        [
          {
            "node": "Prepare PDF for Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PDF for Save": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File": {
      "main": [
        [
          {
            "node": "Output Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "1875c354e68add66bfcb88b2f89ad58e5496268bf95948e7520bbb6eb498bbed"
  }
}